Votre message à <%= @message.messagee.full_name %> a bien été envoyé !

<p>Pour rappel, voici le contenu de votre message :</p>

<h3><%= @message.subject %></h3>
<p><%= @message.body %></p>


___________________________
<br>MetaConnexions