<p><%= @message.messagor_name %> veut entrer en contact avec vous.</p>

<p>Découvrez son message <%= link_to "ici", @url %></p>

___________________________
<br>MetaConnexions
<br><%= link_to "http://www.metaconnexions.com", "http://www.metaconnexions.com" %>

