<h1 class="page-header">Tableau de bord</h1>

<div class="row text-center">
	<div class="col-md-3">
		<div class="jumbotron">
			<h1>3 <small><br>connexions</small></h1>
		</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron">
			
			<h1>7 <small><br>messages</small></h1>
		</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron">
		
			<h1>13 <small><br>recherches</small></h1>
		</div>
	</div>
	<div class="col-md-3">
		<div class="jumbotron">
			<h1>145 <small><br>vues</small></h1>
		</div>
	</div>
</div>
<hr>
<h3 class="page-header">Nouvelles connexions à valider</h3>

<hr>
<div class="row text-center">
	<div class="col-md-4">
Contacts les plus contactés
</div>
<div class="col-md-4">

Compétences les plus recherchées
</div>
<div class="col-md-4">

Contacts les plus vus
</div>
</div>