<div class="row">
	<div class='col-md-8 col-md-offset-2 text-center'>
<h2>Bénéficiez de mon réseau
	<small><br>Indiquez une compétence, et vous découvrirez qui, parmi mes connexions, peut vous aider</small>
</h2>


<%= form_for @search do |s| %>
  <div class="form-group">
    
    <%= s.text_field :keywords, class: "form-control" %>
  </div>
  
  
  <div class="actions"><%= s.submit "Search", class: "btn btn-primary btn-block"  %></div>
  
<% end %>
</div>
</div>

<hr>
Text + photo rounded Meta (big image en background recherche)